{{ form_start(form) }}
    <div style="margin-bottom: 20px;">
        {{ form_row(form.first_name) }}
    </div>
    <div style="margin-bottom: 20px;">
        {{ form_row(form.last_name) }}
    </div>
    <div style="margin-bottom: 20px;">
        {{ form_row(form.birthdate) }}
    </div>
    <button class="button" type="submit">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
