{% extends 'base.html.twig' %}

{% block title %}Índice de Personas{% endblock %}

{% block stylesheets %}
    <style>
    body {
        font-family: Arial, sans-serif;
        background-color: #121212; /* Color de fondo sólido y oscuro */
        color: #fff;
        margin: 0;
        padding: 0;
    }
    
    h1 {
        text-align: center;
        padding: 20px;
    }
    
    #tabla-container {
        width: 70%;
        margin: 0 auto;
    }
    
    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        border: none;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(128, 183, 255, 0.2);
    }
    
    table thead {
        background: linear-gradient(to right, #6b54f0, #2196f3);
        color: #fff;
    }
    
    th, td {
        padding: 12px 15px;
        text-align: left;
    }
    
    tbody tr:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
    
    a {
        display: inline-block;
        padding: 8px 15px;
        background-color: #3f51b5; /* Color primario */
        color: #fff;
        text-decoration: none;
        border-radius: 4px;
        transition: background-color 0.3s ease;
    }
    
    a:hover {
        background-color: #1eb4ff; /* Color secundario */
    }
    
    .create-button {
        display: block;
        width: fit-content;
        margin: 20px auto;
    }
    
    .fa {
        margin-right: 5px; /* Espacio entre el icono y el texto */
    }
    </style>
{% endblock %}

{% block body %}
    <h1>Índice de Personas</h1>
    {% set counter = 1 %}
    <div id="tabla-container">
        <table class="table">
            <thead>
                <tr>
                    <th><a href="{{ path('app_person_new') }}" class="create-button" style="margin:0px;"><i class="fa fa-plus"></i>Nuevo</a></th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for person in people %}
                <tr>
                    <td>{{ counter }}</td>
                    <td>{{ person.firstName }}</td>
                    <td>{{ person.lastName }}</td>
                    <td>{{ person.birthdate ? person.birthdate|date('Y-m-d') : '' }}</td>
                    <td>
                        <a href="{{ path('app_person_edit', {'id': person.id}) }}" class="button"><i class="fa fa-edit"></i> Editar</a>
                        <a href="{{ path('app_person_delete', {'id': person.id, '_token': csrf_token('delete' ~ person.id)}) }}" class="button" onclick="return confirm('¿Estás seguro de eliminar este registro?');"><i class="fa fa-trash"></i> Eliminar</a>
                </td>
                </tr>
                {% set counter = counter + 1 %}
            {% else %}
                <tr>
                    <td colspan="5">No se encontraron registros</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    
{% endblock %}
